{:sketch {:title "clarice"
          :size [300 300] ;width and height of the sketch
          :regions [{:id :left-arm :bounds [0 150 75 200]}]
          :led-layouts {:normal [

                                 ; ~~~~~~~~ Left Arm ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                 ; top L arm ---

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [235 90]
                                  :leds/angle 90}  ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [250 170] ; drawing lines/dots, offset by 10
                                  :leds/angle 270} ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [265 90]
                                  :leds/angle 90} ;90 for down, 270 for up (horizontal is 0)

                                 ; bottom L arm

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [235 200]
                                  :leds/angle 90} ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [250 260]
                                  :leds/angle 270}  ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [265 200]
                                  :leds/angle 90}  ;90 for down, 270 for up (horizontal is 0)

                                 ;
                                 ;; ~~~~~~~~ Left B00B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [165 260]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [180 170]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 9 ; longer jump line
                                  :leds/length 80 ; longer length
                                  :leds/offset [195 210]
                                  :leds/angle 270}

                                 ;BOOB CIRCLES (LEFT x3 @ 16 & 8 & 1)
                                 {:leds/type :leds/circle
                                  :leds/center [180 100] ; center of circle
                                  :leds/count 16
                                  :leds/radius 16
                                  :leds/angle 45}

                                 {:leds/type :leds/circle
                                  :leds/center [180 100]
                                  :leds/count 8
                                  :leds/radius 8
                                  :leds/angle 45}

                                 {:leds/type :leds/circle
                                  :leds/center [180 100]
                                  :leds/count 1
                                  :leds/radius 1
                                  :leds/angle 45}

                                 ;HOOD
                                 {:leds/type :leds/strip
                                  :leds/count 10 ;
                                  :leds/length 150 ; longer length @ 30 density for hood
                                  :leds/offset [220 20]
                                  :leds/angle 180} ; 360 is left horizontal if 0 is right


                                 ;; ~~~~~~~~ Right Arm ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                 ; top R arm ---

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [65 90]
                                  :leds/angle 90}  ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [50 170]
                                  :leds/angle 270} ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 90
                                  :leds/offset [35 90]
                                  :leds/angle 90} ;90 for down, 270 for up (horizontal is 0)

                                 ; bottom R arm

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [65 200]
                                  :leds/angle 90} ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [50 260]
                                  :leds/angle 270}  ;90 for down, 270 for up (horizontal is 0)

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [35 200]
                                  :leds/angle 90} ;90 for down, 270 for up (horizontal is 0)

                                 ; ~~~~~~~~~ Right B00B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                 ;STRIPS
                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [135 260]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 70
                                  :leds/offset [120 170]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 9 ; longer jump line
                                  :leds/length 80 ; longer length
                                  :leds/offset [105 210]
                                  :leds/angle 270}

                                 ;BOOB CIRCLES (Right x2 @ 24 & 12)

                                 {:leds/type :leds/circle
                                  :leds/center [120 100] ; center of circle
                                  :leds/count 24
                                  :leds/radius 24
                                  :leds/angle 160}

                                 {:leds/type :leds/circle
                                  :leds/center [120 100]
                                  :leds/count 12
                                  :leds/radius 12
                                  :leds/angle 160}]}


          ; ~~~~~~~~~~ End Arm ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

          ;closing enders! don't forget

          ; ~~~~~~~~~~~~ End ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

          ;  <<< Reference: each shape for strips and circles >>>>

          ;{:leds/type :leds/strip
          ; :leds/count 20           ; :leds/length 100
          ; :leds/offset [10 10]
          ; :leds/angle 45}

          ; {:leds/type :leds/circle
          ;  :leds/center [200 200]
          ;  :leds/count 36
          ;  :leds/radius 30
          ;  :leds/angle 0}]}

          ; <<< end references >>>

          ;          ; ~~~~~ Sparquil animations! ~~~~~~~~~~~~~~~~~~~~~~~~~~

          :scenes [

                   {:id :pinwheel
                    :display-name "Pinwheel"
                    :led-layout :normal
                    :layer-map {:global-bottom [[pinwheel {:center-x 185 :center-y 80 :radius 260 :interval 5000}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :gradient
                    :display-name "Gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-gradient {:direction :horizontal}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :sunset
                    :display-name "Sunset"
                    :led-layout :normal
                    :layer-map {:global-bottom [[fill-gradient {:variable :color :upper-limit-h 100 :lower-limit-h 10}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :checkers-rainbow
                    :display-name "Checkers Rainbow"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :lower-limit-b 10
                                                           :upper-limit-b 50
                                                           :gradient true}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :checkers-bluegreen
                    :display-name "Checkers B-G-Y"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :lower-limit-b 10
                                                           :upper-limit-b 50
                                                           :lower-limit-h 80
                                                           :upper-limit-h 200
                                                           :gradient true}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :checkers-redblue
                    :display-name "Checkers B-R-P"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :lower-limit-b 10
                                                           :upper-limit-b 50
                                                           :lower-limit-h 240
                                                           :upper-limit-h 320
                                                           :gradient true}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}

                   {:id :checkers-single
                    :display-name "Checkers Solid-Cyan"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :low-brightness 10
                                                           :high-brightness 50
                                                           :gradient false
                                                           :update true}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :chevron
                    :display-name "Chevron Blue"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 700 :color [:hsb 220 50 50]}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :chevron2
                    :display-name "Chevron Orange"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 700 :color [:hsb 13 70 50]}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :bounce
                    :display-name "Bounce CyanYellow"
                    :led-layout :normal
                    :layer-map {:global-bottom [[bounce {:interval 500}]
                                                [bounce {:interval 400 :color [:hsb 175 60 50]}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}



                   {:id :fade-rainbow 
                    :display-name "Fade Rainbow" 
                    :led-layout :normal 
                    :layer-map {:global-bottom [[fade-rainbow {:step-interval 900}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :brians-brain
                    :display-name "Brian's Brain" 
                    :led-layout :normal 
                    :layer-map {:global [[brians-brain 20 20 125]
                                         [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :fireworks 
                    :display-name "Fireworks" 
                    :led-layout :normal 
                    :layer-map {:global-bottom [[fireworks {:interval 500 :offset 0 :x-coord 120}] ; not sure what value to use for fireworks 
                                                [fireworks {:interval 700 :offset 200 :x-coord 180}] 
                                                [stripe {:interval 500 :offset 0 :x-coord 105 :y-coord 220 :color [:hsb 230 50 50]}] ;right right 
                                                [stripe {:interval 500 :offset 0 :x-coord 135 :y-coord 265 :color [:hsb 150 70 50]}] ;right center 
                                                [stripe {:interval 500 :offset 0 :x-coord 165 :y-coord 265 :color [:hsb 150 70 50]}] ;left center 
                                                [stripe {:interval 500 :offset 0 :x-coord 195 :y-coord 220 :color [:hsb 230 50 50]}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :buzzing-bee
                    :display-name "Buzzing Bee"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-color [:rgb 0 0 0]]
                                 [buzzing-bee {:interval 500 :stripe-width 20}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :rain
                    :display-name "Rain Blue"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rain {:interval 10 :num-droplets 50}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :plasma-pink
                    :display-name "Pink Plasma"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 260
                                   :upper-limit-h 330}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :plasma-blue
                    :display-name "Blue Plasma"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :brightness
                                   :lower-limit-b -50
                                   :upper-limit-b 50}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}


                   {:id :twinkle
                    :display-name "Twinkle Solid-Blue"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle
                                  {:interval 50
                                   :lower-limit-b -20
                                   :upper-limit-b  50
                                   :twinkle-step 0.8}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :twinkle2
                    :display-name "Twinkle Blue-Purple"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid
                                  {:interval 50
                                   :rows 20
                                   :columns 20
                                   :length 40
                                   :lower-limit-b -20
                                   :upper-limit-b 50
                                   :lower-limit-h 200
                                   :upper-limit-h 300
                                   :twinkle-step 0.8
                                   :gradient true
                                   :shift true}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}

                   {:id :twinkle3
                    :display-name "Twinkle Solid-Purple"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :low-brightness 10
                                                           :high-brightness 50
                                                           :hue 265
                                                           :gradient false}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}

                   {:id :twinkle4
                    :display-name "Twinkle Green-Yellow-Blue"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid
                                  {:interval 50
                                   :rows 20
                                   :columns 20
                                   :length 40
                                   :lower-limit-b -20
                                   :upper-limit-b 50
                                   :lower-limit-h 40
                                   :upper-limit-h 180
                                   :twinkle-step 0.8
                                   :gradient true
                                   :shift true}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :random-pink
                    :display-name "Random Pink"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid {:hue 340 :interval 100 :twinkle-step 0.5}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}

                   {:id :random-purp
                    :display-name "Random Purple"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid {:hue 260 :interval 100 :twinkle-step 0.5}]
                                 [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}


                   {:id :stripe
                    :display-name "stripe"
                    :led-layout :normal
                    :layer-map {:global-bottom [[stripe {:interval 500}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :two-color-conways-blue
                    :display-name "two color conways blue"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 20
                                                                    :cols 20
                                                                    :interval 50
                                                                    :hue1 170
                                                                    :hue2 220
                                                                    :sat 60}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}

                   {:id :two-color-conways-purple
                    :display-name "two color conways purple"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 20
                                                                    :cols 20
                                                                    :interval 50
                                                                    :hue1 270
                                                                    :hue2 320
                                                                    :sat 60}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 175 60 50] :direction :vertical}]]}}

                   {:id :two-color-conways-red
                    :display-name "two color conways red"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 20
                                                                    :cols 20
                                                                    :interval 50
                                                                    :hue1 0
                                                                    :hue2 40
                                                                    :sat 60}]
                                                [hive-status {:start-x 235 :start-y 238 :spacing 10 :color [:hsb 310 60 50] :direction :vertical}]]}}]

          ; End Harriet

          ;anything with color 'hsb' if it only says hue, put a single color between 0 360
          ; adding color to scenes ":color [:hsb 40 50 50]" within curly (on same line/inside bracket as global-bottom)

          :init-scene :pinwheel}

 ; ~~~~~~ Shit I don't need to touch ~~~~~~~~~~~~~~~

 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}
 :web-interface {:port 8080}}
