{:sketch {:title "fragments1"
          :size [550 550]
          :regions [{:id :left-half :bounds [0 0 274 550]}
                    {:id :right-half :bounds [276 0 274 50]}]
          :led-layouts {:normal [{:leds/type :leds/coordinate-sequence
                                  :leds/offset [10 10]
                                  :leds/dims [500 500]
                                  :leds/coords-path "configs/coordinate_sequences/fragments1_coords.edn"}]}

          :scenes [{:id :brians-brain
                    :display-name "Brian's Brain"
                    :led-layout :normal
                    :layer-map {:global [[brians-brain 20 20 125]]
                                :left-arm [[fill-color 127]
                                           [text "left-arm" {:color 255 :offset [1 10]}]]}}

                   {:id :twinkle
                    :display-name "Twinkle"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle-odroid {:hue 160
                                                                 :interval 25
                                                                 :lower-limit-b 0
                                                                 :upper-limit-b 40
                                                                 :twinkle-step 0.4}]
                                                [rotate-shape-odroid {:interval 25 :angle-step 0.15 :size-1 70 :size-2 150 :stroke-width 20 :color [:hsb 40 50 50] :shape :star}]]}}

                   {:id :twinkle-star
                    :display-name "Twinkle star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle-odroid {:hue 160
                                                                 :interval 25
                                                                 :lower-limit-b 0
                                                                 :upper-limit-b 40
                                                                 :twinkle-step 0.4}]
                                                [kaleidoscope {:interval 25 :angle-step 0.15 :size-1 70 :size-2 150 :stroke-width 20 :color [:hsb 40 50 50] :shape :star}]]}}
                   {:id :twinkle-gradient
                    :display-name "Twinkle gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle {:interval 25
                                                          :rows 30
                                                          :cols 30
                                                          :length 120
                                                          :lower-limit-b -10
                                                          :upper-limit-b 60
                                                          :twinkle-step 0.4
                                                          :lower-limit-h 200
                                                          :upper-limit-h 360
                                                          :gradient true
                                                          :shift true}]]}}

                   {:id :plasma-ripple
                    :display-name "pr"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 260
                                   :upper-limit-h 330}]]}}

                   {:id :beacon
                    :display-name "beacon"
                    :led-layout :normal
                    :layer-map {:global-bottom [[beacon {:color [:hsb 105 50 50] :interval 1300 :stroke-width 15 :size-step 50}]
                                                [beacon {:color [:hsb 110 50 50] :interval 1300 :stroke-width 15 :offset 200 :size-step 50}]]}}


                   {:id :pulse
                    :display-name "pulse"
                    :led-layout :normal
                    :layer-map {:global-bottom [[pulse {:interval 100}]]}}

                   {:id :rain
                    :display-name "rain"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rain-odroid {:interval 100}]]}}

                   {:id :chevron
                    :display-name "chevron"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 300}]]}}

                   {:id :buzzing-bee
                    :display-name "Buzzing bee"
                    :led-layout :normal
                    :layer-map {:global-bottom [[buzzing-bee {:interval 500 :color [:hsb 300 50 30]}]]}}

                   {:id :rotating-star
                    :display-name "rotating star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rotate-shape-odroid {:interval 200 :size-1 60 :size-2 120 :stroke-width 30 :color [:hsb 300 50 30] :shape :star}]]}}

                   {:id :two-color-conways
                    :display-name "two color conways"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 20 :cols 20 :interval 100 :hue1 0 :hue2 40}]]}}]



          :init-scene :twinkle-gradient}

 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}
 :web-interface {:port 8080}}
