{:sketch {:title "fragments1"
          :size [550 550]
          :regions [{:id :left-half :bounds [0 0 274 550]}
                    {:id :right-half :bounds [276 0 274 50]}]
          :led-layouts {:normal [{:leds/type :leds/coordinate-sequence
                                  :leds/offset [10 10]
                                  :leds/dims [500 500]
                                  :leds/coords-path "configs/coordinate_sequences/fragments1_coords.edn"}]}

          :scenes [{:id :tws
                    :display-name "Twinkle star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle-odroid {:hue 160
                                                                 :interval 25
                                                                 :lower-limit-b 0
                                                                 :upper-limit-b 40
                                                                 :twinkle-step 0.4}]
                                                [rotate-shape-odroid {:interval 25 :angle-step 0.15 :size-1 70 :size-2 150 :stroke-width 20 :color [:hsb 40 50 50] :shape :star}]]}}
                   {:id :twg
                    :display-name "Twinkle gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle {:interval 25
                                                          :rows 30
                                                          :cols 30
                                                          :length 120
                                                          :lower-limit-b -10
                                                          :upper-limit-b 60
                                                          :twinkle-step 0.4
                                                          :lower-limit-h 200
                                                          :upper-limit-h 360
                                                          :gradient true
                                                          :shift true}]]}}

                   {:id :twra
                    :display-name "Twinkle rainbow"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle {:interval 25
                                                          :rows 30
                                                          :cols 30
                                                          :length 120
                                                          :lower-limit-b -10
                                                          :upper-limit-b 60
                                                          :twinkle-step 0.4
                                                          :gradient true
                                                          :shift true}]]}}

                   {:id :prp
                    :display-name "plasma ripple purple"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 260
                                   :upper-limit-h 330}]]}}

                   {:id :prb
                    :display-name "plasma ripple blue"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 130
                                   :upper-limit-h 190}]]}}

                   {:id :prg
                    :display-name "plasma ripple green"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 10
                                   :upper-limit-h 70
                                   :sat 60}]]}}

                   {:id :prr
                    :display-name "plasma ripple red"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 60
                                   :upper-limit-h 10
                                   :sat 60}]]}}

                   {:id :be
                    :display-name "beacon"
                    :led-layout :normal
                    :layer-map {:global-bottom [[beacon {:color [:hsb 105 50 50] :interval 1300 :stroke-width 15 :size-step 50}]
                                                [beacon {:color [:hsb 110 50 50] :interval 1300 :stroke-width 15 :offset 200 :size-step 50}]]}}

                   {:id :ch
                    :display-name "chevron"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 700 :color [:hsb 50 70 30]}]]}}

                   {:id :bube
                    :display-name "Buzzing bee"
                    :led-layout :normal
                    :layer-map {:global-bottom [[buzzing-bee {:interval 700 :color [:hsb 300 50 30]}]]}}

                   {:id :rs
                    :display-name "rotating star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rotate-shape-odroid {:interval 50 :angle-step 0.1 :size-1 60 :size-2 120 :stroke-width 30 :color [:hsb 300 50 30] :shape :star}]]}}


                   {:id :tccr
                    :display-name "two color conways red"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 30 :cols 30 :interval 150 :hue1 0 :hue2 40 :sat 60}]]}}

                   {:id :tccb
                    :display-name "two color conways blue"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 30
                                                                    :cols 30
                                                                    :interval 150
                                                                    :hue1 170
                                                                    :hue2 220
                                                                    :sat 60}]]}}

                   {:id :tccp
                    :display-name "two color conways purple"
                    :led-layout :normal
                    :layer-map {:global-bottom [[two-color-conways {:rows 30
                                                                    :cols 30
                                                                    :interval 150
                                                                    :hue1 270
                                                                    :hue2 320
                                                                    :sat 60}]]}}
                   {:id :brbr
                    :display-name "Brian's Brain"
                    :led-layout :normal
                    :layer-map {:global [[brians-brain 20 20 125]]}}

                   {:id :gd
                    :display-name "gold dust"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rain {:interval 50 :num-droplets 30 :hue 40}]]}}]



          :init-scene :prp}

 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}
 :web-interface {:port 8080}}
