{:sketch {:title "fragments1"
          :size [600 450]
          :regions [{:id :left-half :bounds [0 0 274 550]}
                    {:id :right-half :bounds [276 0 274 50]}]
          :led-layouts {:normal [
                                 ; A
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 43
                                  :leds/offset [370 273]
                                  :leds/angle 83.3}
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 43
                                  :leds/offset [368 319]
                                  :leds/angle 148.7}
                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 21.5
                                  :leds/offset [326 335]
                                  :leds/angle 241.4}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 53.75
                                  :leds/offset [319 309]
                                  :leds/angle 318.6}
                                 ; B
                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 88
                                  :leds/offset [410 282]
                                  :leds/angle -1.5}
                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 88
                                  :leds/offset [498 289]
                                  :leds/angle 89.3}
                                 {:leds/type :leds/strip
                                  :leds/count 11
                                  :leds/length 122.5
                                  :leds/offset [488 374]
                                  :leds/angle 226.8}
                                 ; C
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 64.5
                                  :leds/offset [381 180]
                                  :leds/angle -7.4}
                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 108.7
                                  :leds/offset [450 178]
                                  :leds/angle 39.7}
                                 {:leds/type :leds/strip
                                  :leds/count 12
                                  :leds/length 131
                                  :leds/offset [526 252]
                                  :leds/angle 179}
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 64.5
                                  :leds/offset [394 247]
                                  :leds/angle 260.53}
                                 ; D
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 43
                                  :leds/offset [381 154]
                                  :leds/angle -6.9}
                                 {:leds/type :leds/strip
                                  :leds/count 7
                                  :leds/length 78
                                  :leds/offset [416 138]
                                  :leds/angle 227.4}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 55
                                  :leds/offset [363 96]
                                  :leds/angle 70.3}
                                 ; E
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 64.5
                                  :leds/offset [353 232]
                                  :leds/angle 138}
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 64.5
                                  :leds/offset [300 271]
                                  :leds/angle 227.9}
                                 {:leds/type :leds/strip
                                  :leds/count 12
                                  :leds/length 132
                                  :leds/offset [260 216]
                                  :leds/angle -60.1}
                                 {:leds/type :leds/strip
                                  :leds/count 11
                                  :leds/length 120
                                  :leds/offset [333 109]
                                  :leds/angle 80}
                                 ; F
                                 {:leds/type :leds/strip
                                  :leds/count 11
                                  :leds/length 120
                                  :leds/offset [121 115]
                                  :leds/angle -11.9}
                                 {:leds/type :leds/strip
                                  :leds/count 8
                                  :leds/length 89
                                  :leds/offset [236 84]
                                  :leds/angle 234}
                                 {:leds/type :leds/strip
                                  :leds/count 10
                                  :leds/length 110
                                  :leds/offset [178 18]
                                  :leds/angle 121.2}
                                 ; G
                                 {:leds/type :leds/strip
                                  :leds/count 12
                                  :leds/length 132
                                  :leds/offset [103 161]
                                  :leds/angle 11.2}
                                 {:leds/type :leds/strip
                                  :leds/count 7
                                  :leds/length 76
                                  :leds/offset [237 180]
                                  :leds/angle -51.7}
                                 {:leds/type :leds/strip
                                  :leds/count 16
                                  :leds/length 177.3
                                  :leds/offset [274 120]
                                  :leds/angle 168.63}
                                 ; H
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 44.5
                                  :leds/offset [137 192]
                                  :leds/angle 22.1}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 55.9
                                  :leds/offset [170 214]
                                  :leds/angle 135.9}
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 43.6
                                  :leds/offset [124 248]
                                  :leds/angle 210.4}
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 43.6
                                  :leds/offset [94 220]
                                  :leds/angle -38.9}
                                 ; I
                                 {:leds/type :leds/strip
                                  :leds/count 9
                                  :leds/length 98.4
                                  :leds/offset [225 224]
                                  :leds/angle 100.4}
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 65.2
                                  :leds/offset [200 325]
                                  :leds/angle 138}
                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 20
                                  :leds/offset [144 363]
                                  :leds/angle 201.8}
                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 66
                                  :leds/offset [127 346]
                                  :leds/angle -85.9}
                                 {:leds/type :leds/strip
                                  :leds/count 9
                                  :leds/length 99.6
                                  :leds/offset [139 277]
                                  :leds/angle -35.5}
                                 ; J
                                 {:leds/type :leds/strip
                                  :leds/count 17
                                  :leds/length 186.9
                                  :leds/offset [252 273]
                                  :leds/angle 56.8}
                                 {:leds/type :leds/strip
                                  :leds/count 11
                                  :leds/length 123
                                  :leds/offset [339 427]
                                  :leds/angle 216.4}
                                 {:leds/type :leds/strip
                                  :leds/count 7
                                  :leds/length 76.2
                                  :leds/offset [240 349]
                                  :leds/angle -84.8}]}



          :scenes [{:id :twinkle
                    :display-name "Twinkle star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[twinkle-odroid {:hue 160
                                                                 :interval 50
                                                                 :lower-limit-b 7
                                                                 :upper-limit-b 25
                                                                 :twinkle-step 0.1}]]}}

                   {:id :beaconyellow
                    :display-name "beacon"
                    :led-layout :normal
                    :layer-map {:global-bottom [[beacon {:color [:hsb 30 70 30] :interval 2000 :stroke-width 15 :size-step 50}]
                                                [beacon {:color [:hsb 30 65 30] :interval 2000 :stroke-width 15 :offset 300 :size-step 50}]]}}

                   {:id :beaconblue
                    :display-name "beacon"
                    :led-layout :normal
                    :layer-map {:global-bottom [[beacon {:color [:hsb 185 45 25] :interval 1300 :stroke-width 15 :size-step 50}]
                                                [beacon {:color [:hsb 200 45 25] :interval 1300 :stroke-width 15 :offset 200 :size-step 50}]]}}

                   {:id :droplet
                    :display-name "rain"
                    :led-layout :normal
                    :layer-map {:global-bottom [[raindrops {:color1 [:hsb 30 70 30]
                                                            :color2 [:hsb 30 65 30]
                                                            :interval 50
                                                            :stroke-width 15
                                                            :size-step 10
                                                            :min-d 500
                                                            :range-d 300
                                                            :max-diameter 1300}]]}}

                   {:id :rain
                    :display-name "rain"
                    :led-layout :normal
                    :layer-map {:global-bottom [[raindrops {:color1 [:hsb 360 50 30]
                                                            :interval 50
                                                            :stroke-width 15
                                                            :size-step 8
                                                            :min-d 400
                                                            :range-d 600
                                                            :max-diameter 1300}]
                                                [raindrops {:color1 [:hsb 360 50 30]
                                                            :interval 47
                                                            :stroke-width 15
                                                            :size-step 8
                                                            :min-d 400
                                                            :range-d 600
                                                            :max-diameter 1000}]
                                                [raindrops {:color1 [:hsb 360 50 30]
                                                            :interval 45
                                                            :stroke-width 15
                                                            :size-step 8
                                                            :min-d 400
                                                            :range-d 600
                                                            :max-diameter 800}]]}}

                   {:id :config
                    :display-name "config"
                    :led-layout :normal
                    :layer-map {:global-bottom [[mouse-coordinates]]}}

                   {:id :shapes
                    :display-name "shapes"
                    :led-layout :normal
                    :layer-map {:global-bottom [[mouse-coordinates]
                                                [shape {:coordinates [[368 270] [376 316] [331 342] [314 315]]}]
                                                [shape {:coordinates [[403 284] [497 281] [499 383]]}]
                                                [shape {:coordinates [[383 180] [443 171] [538 252] [395 256]]}]
                                                [shape {:coordinates [[379 153] [425 148] [363 82]]}]
                                                [shape {:coordinates [[355 230] [305 274] [257 225] [330 96]]}]
                                                [shape {:coordinates [[119 115] [242 91] [183 10]]}]
                                                [shape {:coordinates [[98 157] [231 187] [285 118]]}]
                                                [shape {:coordinates [[130 188] [177 210] [131 250] [90 225]]}]
                                                [shape {:coordinates [[225 216] [207 320] [152 367] [127 353] [132 281]]}]
                                                [shape {:coordinates [[248 265] [360 439] [241 355]]}]]}}

                   {:id :shimmer-shapes
                    :display-name "shimmer-shapes"
                    :led-layout :normal
                    :layer-map {:global-bottom [[mouse-coordinates]
                                                [shimmer-shape {:coordinates [[368 270] [376 316] [331 342] [314 315]]}]
                                                [shimmer-shape {:coordinates [[403 284] [497 281] [499 383]]}]
                                                [shimmer-shape {:coordinates [[383 180] [443 171] [538 252] [395 256]]}]
                                                [shimmer-shape {:coordinates [[379 153] [425 148] [363 82]]}]
                                                [shimmer-shape {:coordinates [[355 230] [305 274] [257 225] [330 96]]}]
                                                [shimmer-shape {:coordinates [[119 115] [242 91] [183 10]]}]
                                                [shimmer-shape {:coordinates [[98 157] [231 187] [285 118]]}]
                                                [shimmer-shape {:coordinates [[130 188] [177 210] [131 250] [90 225]]}]
                                                [shimmer-shape {:coordinates [[225 216] [207 320] [152 367] [127 353] [132 281]]}]
                                                [shimmer-shape {:coordinates [[248 265] [360 439] [241 355]]}]]}}

                   {:id :spokes
                    :display-name "spokes"
                    :led-layout :normal
                    :layer-map {:global-bottom [[spokes {:center-x 280 :center-y 50}]]}}

                   {:id :pinwheel
                    :display-name "pinwheel"
                    :led-layout :normal
                    :layer-map {:global-bottom [[pinwheel {:center-x 200 :center-y 200 :radius 400 :interval 5000}]]}}]

          :init-scene :shimmer-shapes}

 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}
 :web-interface {:port 8080}}
