{:sketch {:title "dev"
          :size [370 300]
          :regions [{:id :rings :bounds [120 15 130 130]}]
          :led-layouts {:normal [; left upper arm
                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [320 40]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [330 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [340 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [350 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [360 40]
                                  :leds/angle 90}

                                 ; left forearm
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [360 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [350 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [340 120]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [330 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [320 140]
                                  :leds/angle 90}

                                 ; left hand
                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [320 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [330 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [340 270]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [350 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [360 270]
                                  :leds/angle 270}

                                 ; right upper arm
                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [50 40]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [40 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [30 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [20 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [10 40]
                                  :leds/angle 90}

                                 ; right forearm
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [10 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [20 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [30 120]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [40 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [50 140]
                                  :leds/angle 90}

                                 ; right hand
                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [50 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [40 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [30 270]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [20 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [10 270]
                                  :leds/angle 270}

                                 ; rings

                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 32
                                  :leds/radius 60
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 24
                                  :leds/radius 50
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 16
                                  :leds/radius 40
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 12
                                  :leds/radius 30
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 8
                                  :leds/radius 20
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 1
                                  :leds/radius 1
                                  :leds/angle 0}

                                 ; hips

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [285 200]
                                  :leds/angle 180}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [205 220]
                                  :leds/angle 0}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [85 220]
                                  :leds/angle 0}
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [145 200]
                                  :leds/angle 180}]}

          :scenes [{:id :buzzing-bee
                    :display-name "bb"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-color [:rgb 0 0 0]]
                                 [buzzing-bee {:interval 500 :stripe-width 20}]]}}

                   {:id :rain
                    :display-name "r"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rain {:interval 10 :num-droplets 50}]]}}

                   {:id :beacon
                    :display-name "be"
                    :led-layout :normal
                    :layer-map {:global-bottom [[beacon-odroid
                                                 {:center-x 185
                                                  :center-y 80
                                                  :interval 80
                                                  :size-step 20
                                                  :max-diameter 650
                                                  :restrict-size false
                                                  :color [:hsb 210 60 50]
                                                  :stroke-width 12}]]}}

                   {:id :plasma-ripple
                    :display-name "pr"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 260
                                   :upper-limit-h 330}]]}}

                   {:id :pinwheel
                    :display-name "pw"
                    :led-layout :normal
                    :layer-map {:global-bottom [[pinwheel {:center-x 185 :center-y 80 :radius 260 :interval 5000}]]}}

                   {:id :twinkle
                    :display-name "t"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle
                                  {:interval 50
                                   :low-brightness -20
                                   :high-brightness 50
                                   :twinkle-step 0.8}]]}}

                   {:id :heart
                    :display-name "h"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                       [[twinkle-odroid {:hue 340 :interval 100 :twinkle-step 0.5}]]
                                :rings [[fill-color [:hsb 0 0 0]]
                                        [beating-heart {:scale 130 :size-step 20 :max-size-diff 40}]]}}

                   {:id :checkers
                    :display-name "checkers"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :low-brightness 10
                                                           :high-brightness 50
                                                           :gradient true
                                                           :update true}]]}}


                   {:id :twinkle-star
                    :display-name "Twinkle star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers-no-update {:interval 50
                                                                     :low-brightness 10
                                                                     :high-brightness 50
                                                                     :hue 160
                                                                     :gradient false}]]
                                :rings [[fill-color [:rgb 0 0 0]]
                                        [rotate-shape-odroid {:interval 10
                                                              :angle-step 0.3
                                                              :size-1 30
                                                              :size-2 50
                                                              :stroke-width 10
                                                              :color [:hsb 40 50 50]
                                                              :shape :star}]]}}

                   {:id :sunset-star
                    :display-name "sunset star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[fill-gradient {:variable :color :upper-limit-h 100 :lower-limit-h 10}]]
                                :rings [[fill-color [:rgb 0 0 0]]
                                        [draw-shape-odroid {:size-1 30
                                                            :size-2 50
                                                            :stroke-width 10
                                                            :color [:hsb 40 50 50]
                                                            :shape :star}]]}}

                   {:id :checker-star
                    :display-name "sunset star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :low-brightness 10
                                                           :high-brightness 50
                                                           :gradient false
                                                           :update true}]]
                                :rings [[fill-color [:rgb 0 0 0]]
                                        [draw-shape-odroid {:size-1 30
                                                            :size-2 50
                                                            :stroke-width 10
                                                            :color [:hsb 40 50 50]
                                                            :shape :star}]]}}


                   {:id :gradient-beacon
                    :display-name "gb"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-gradient {:direction :horizontal}]]
                                :rings
                                [[beacon
                                  {:interval 1000
                                   :max-diameter 1400
                                   :color [:rgb 60 60 60]}]]}}

                   {:id :plasma-color
                    :display-name "pc"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 50
                                   :variable :color
                                   :lower-limit-h 200
                                   :upper-limit-h 300}]]}}

                   {:id :plasma-brightness
                    :display-name "pb"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :brightness
                                   :lower-limit-b -50
                                   :upper-limit-b 50}]]}}




                   {:id :kaleidoscope
                    :display-name "k"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid
                                  {:interval 50
                                   :low-brightness -10
                                   :high-brightness 50
                                   :twinkle-step 0.3}]
                                 [kaleidoscope
                                  {:center-x 185
                                   :center-y 80
                                   :interval-r 10000
                                   :interval-b 500
                                   :size-change 100
                                   :color [:hsb 40 70 20]
                                   :shape :heart}]]}}
                   {:id :chevron
                    :display-name "c"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 700}]]}}

                   {:id :bounce
                    :display-name "bo"
                    :led-layout :normal
                    :layer-map {:global-bottom [[bounce {:interval 500}]]}}

                   {:id :test
                    :display-name "test"
                    :led-layout :normal
                    :layer-map {:global-bottom [[kaleidoscope
                                                 {:center-x 185
                                                  :center-y 80
                                                  :interval-r 10000
                                                  :interval-b 500
                                                  :size-change 0
                                                  :color [:hsb 40 70 20]
                                                  :shape :star}]]}}]
          :init-scene :bounce}
 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}}
