{:sketch {:title "harriet-suit"
          :size [370 300]
          :regions [{:name :rings :bounds [120 15 130 130]}]
          :led-layouts {:normal [; left upper arm
                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [320 40]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [330 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [340 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [350 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [360 40]
                                  :leds/angle 90}

                                 ; left forearm
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [360 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [350 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [340 120]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [330 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [320 140]
                                  :leds/angle 90}

                                 ; left hand
                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [320 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [330 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [340 270]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [350 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [360 270]
                                  :leds/angle 270}

                                 ; right upper arm
                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [50 40]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [40 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [30 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [20 90]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [10 40]
                                  :leds/angle 90}

                                 ; right forearm
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [10 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [20 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [30 120]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [40 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [50 140]
                                  :leds/angle 90}

                                 ; right hand
                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [50 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [40 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [30 270]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [20 250]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [10 270]
                                  :leds/angle 270}

                                 ; rings

                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 32
                                  :leds/radius 60
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 24
                                  :leds/radius 50
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 16
                                  :leds/radius 40
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 12
                                  :leds/radius 30
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 8
                                  :leds/radius 20
                                  :leds/angle 0}
                                 {:leds/type :leds/circle
                                  :leds/center [185 80]
                                  :leds/count 1
                                  :leds/radius 1
                                  :leds/angle 0}

                                 ; hips

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [285 200]
                                  :leds/angle 180}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [205 220]
                                  :leds/angle 0}
                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [85 220]
                                  :leds/angle 0}
                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [145 200]
                                  :leds/angle 180}]}

          :scenes {:buzzing-bee {:led-layout :normal
                                 :layer-map {:global-bottom [[fill-color [:rgb 0 0 0]]
                                                             [buzzing-bee {:interval 500 :stripe-width 20}]]}}
                   :gradient-twinkle-inverse-beacon {:led-layout :normal
                                                     :layer-map {:global-bottom [[twinkle {:interval 50 :low-brightness -10 :high-brightness 60 :twinkle-step 0.1 :gradient true}]
                                                                                 [inverted-beacon {:center-x 185 :center-y 80 :interval 1000 :offset 200 :max-diameter 700 :stroke-width 50}]]
                                                                 :rings [[rotating-star {:interval 10000 :color [:hsb 40 70 20]}]]}}
                   :twinkle-inverse-beacon {:led-layout :normal
                                            :layer-map {:global-bottom [[twinkle {:hue 150 :interval 50 :low-brightness -10 :high-brightness 60 :twinkle-step 0.1 :gradient true}]
                                                                        [inverted-beacon {:center-x 275 :center-y 80 :interval 1100 :offset 200 :max-diameter 700 :stroke-width 50}]]}}
                   :twinkle-star {:led-layout :normal
                                  :layer-map {:global-bottom [[twinkle {:interval 50 :low-brightness -10 :high-brightness 50 :twinkle-step 0.1}]
                                                              [rotating-star {:center-x 275 :center-y 80 :interval 10000 :color [:hsb 40 70 20]}]]}}
                   :gradient-heart-beacon {:led-layout :normal
                                           :layer-map {:global-bottom [[fill-gradient {:direction :horizontal}]]
                                                       :rings [[beacon {:interval 1000 :max-diameter 1400 :color [:rgb 60 60 60]}]]}}
                   :pinwheel {:led-layout :normal
                              :layer-map {:rings [[pinwheel {:interval 2000}]]}}
                   :plasma {:led-layout :normal
                            :layer-map {:global-bottom [[plasma {:interval 50 :gradient true}]]}}
                   :rain {:led-layout :normal
                          :layer-map {:global-bottom [[rain {:interval 10}]]}}
                   :heart {:led-layout :normal
                           :layer-map {:global-bottom [[twinkle {:hue 340}]
                                                       [beacon {:center-x 185 :center-y 80 :interval 700 :offset 300 :max-diameter 400 :color [:rgb 0 0 0]}]]
                                       :rings [[fill-color [:hsb 0 0 0]]
                                               [beating-heart {:scale 120 :interval 700}]]}}}
          :init-scene :heart}
 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}}
