{:sketch {:title "sam"
          :size [300 300] ;width and height of the sketch
          :regions [{:id :left-arm :bounds [0 150 75 200]}]
          :led-layouts {:normal [

                                 ; Right Arm Upper large

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [10 10]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [20 100]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [30 30]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [40 80]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [50 50]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [60 60]
                                  :leds/angle 270}

                                 ; Right Arm Upper small


                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 10
                                  :leds/offset [80 60]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [90 70]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [100 40]
                                  :leds/angle 90}

                                 ; Right Arm Lower Small

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [100 170]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [90 180]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [80 150]
                                  :leds/angle 90}

                                 ; Right Arm Lower Big

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [60 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [50 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [40 190]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [30 160]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [20 170]
                                  :leds/angle 270}


                                 ; Right Chest

                                 {:leds/type :leds/strip
                                  :leds/count 7
                                  :leds/length 140
                                  :leds/offset [140 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [130 100]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [120 20]
                                  :leds/angle 90}

                                 ; Left Arm upper big

                                 {:leds/type :leds/strip
                                  :leds/count 6
                                  :leds/length 120
                                  :leds/offset [290 10]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [280 100]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [270 30]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [260 80]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [250 50]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [240 60]
                                  :leds/angle 270}

                                 ; left arm upper small

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 10
                                  :leds/offset [220 60]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [210 70]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [200 40]
                                  :leds/angle 90}

                                 ; left arm lower small

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [200 170]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [210 180]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [220 150]
                                  :leds/angle 90}

                                 ; left arm lower small

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [240 210]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 4
                                  :leds/length 80
                                  :leds/offset [250 140]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [260 190]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 2
                                  :leds/length 40
                                  :leds/offset [270 160]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 1
                                  :leds/length 20
                                  :leds/offset [280 170]
                                  :leds/angle 270}

                                 ; Left Chest

                                 {:leds/type :leds/strip
                                  :leds/count 7
                                  :leds/length 140
                                  :leds/offset [160 20]
                                  :leds/angle 90}

                                 {:leds/type :leds/strip
                                  :leds/count 5
                                  :leds/length 100
                                  :leds/offset [170 100]
                                  :leds/angle 270}

                                 {:leds/type :leds/strip
                                  :leds/count 3
                                  :leds/length 60
                                  :leds/offset [180 20]
                                  :leds/angle 90}]}


          :scenes [{:id :buzzing-bee
                    :display-name "buzzing bee"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-color [:rgb 0 0 0]]
                                 [buzzing-bee {:interval 500 :stripe-width 20}]
                                 [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :rain
                    :display-name "rain"
                    :led-layout :normal
                    :layer-map {:global-bottom [[rain {:interval 10 :num-droplets 50}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :plasma-ripple
                    :display-name "plasma ripple"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[perlin-plasma
                                  {:interval 25
                                   :rows 20
                                   :cols 20
                                   :perlin-step 0.2
                                   :variable :color-and-brightness
                                   :lower-limit-b -10
                                   :upper-limit-b 50
                                   :lower-limit-h 260
                                   :upper-limit-h 330}]
                                 [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :pinwheel
                    :display-name "pinwheel"
                    :led-layout :normal
                    :layer-map {:global-bottom [[pinwheel {:center-x 185 :center-y 80 :radius 260 :interval 5000}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :twinkle
                    :display-name "twinkle"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle
                                  {:interval 50
                                   :lower-limit-b -20
                                   :upper-limit-b  50
                                   :twinkle-step 0.8}]
                                 [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :twinkle-gradient
                    :display-name "twinkle gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[twinkle-odroid
                                  {:interval 50
                                   :rows 20
                                   :columns 20
                                   :length 40
                                   :lower-limit-b -20
                                   :upper-limit-b 50
                                   :lower-limit-h 200
                                   :upper-limit-h 300
                                   :twinkle-step 0.8
                                   :gradient true
                                   :shift true}]
                                 [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :heart
                    :display-name "heart"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                       [[twinkle-odroid {:hue 340 :interval 100 :twinkle-step 0.5}]
                                        [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :checkers-rainbow
                    :display-name "checkers rainbow"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :rows 20
                                                           :cols 20
                                                           :length 40
                                                           :lower-limit-b 10
                                                           :upper-limit-b 50
                                                           :gradient true}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}
                   {:id :checkers-gradient
                    :display-name "checkers gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :lower-limit-b 10
                                                           :upper-limit-b 50
                                                           :lower-limit-h 0
                                                           :upper-limit-h 80
                                                           :gradient true}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :sunset-star
                    :display-name "sunset star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[fill-gradient {:variable :color :upper-limit-h 60 :lower-limit-h 0}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :checker-star
                    :display-name "checker star"
                    :led-layout :normal
                    :layer-map {:global-bottom [[checkers {:interval 50
                                                           :low-brightness 10
                                                           :high-brightness 50
                                                           :gradient false
                                                           :update true}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}


                   {:id :fill-gradient
                    :display-name "fill gradient"
                    :led-layout :normal
                    :layer-map {:global-bottom
                                [[fill-gradient {:direction :horizontal}]
                                 [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}
                   {:id :chevron
                    :display-name "chevron"
                    :led-layout :normal
                    :layer-map {:global-bottom [[chevron {:interval 700 :color [:hsb 200 70 50]}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :bounce
                    :display-name "bounce"
                    :led-layout :normal
                    :layer-map {:global-bottom [[bounce {:interval 500 :color [:hsb 115 60 50]}]
                                                [hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}

                   {:id :hive
                    :display-name "hive status"
                    :led-layout :normal
                    :layer-map {:global-bottom [[hive-status {:start-x 220 :start-y 140 :spacing 20 :color [:hsb 0 60 50] :direction :vertical}]]}}]


          :init-scene :buzzing-bee}

 :redis {:host "127.0.0.1" :port 6379}
 :fadecandy {:host "127.0.0.1" :port 7890}
 :web-interface {:port 8080}}
